[2018-12-18 03:41] pro-panda opened #1 "Import project ideas from wiki page"
Ideas available at the wiki page: https://wiki.sugarlabs.org/go/Development_Team/Project_Ideas must to be reviewed and added to `Ideas-2019.md`

[2018-12-18 09:53] pro-panda opened #2 "Is the documentation task a fit for GSoC"
Is the task [Redesign the documentation](https://github.com/pro-panda/gsoc-sugarlabs/blob/master/Ideas-2019.md#redesigning-the-docuementation) fit for GSoC ?

GSoC Projects should involve some coding. Can we include documentation under that umbrella ?

[2018-12-21 08:40] pro-panda commented on #2
Thanks. Fixed in 8af21d3

[2018-12-21 08:40] #2 closed

[2018-12-21 10:26] pro-panda opened #3 "Missing GSoC ideas for Sugarizer (et al.)"
@llaske @walterbender @pikurasa
Kindly review and add project ideas you may have

[2018-12-31 18:30] pro-panda commented on #1
@quozl @walterbender
There are a lot of ideas around Sugar in the link and comments, but I don't want to add them unless we have mentors for each idea. Please feel free to take them up.

[2019-01-01 07:37] iqraceme commented on #1
Yes, I am interested in mentoring for "port all Sugarizer activities to Sugar, updating sugar-web as needed". I was discussing this idea a few days ago with Samson.

[2019-01-02 00:53] iqraceme commented on #1
@pro-panda Is there any format that needs to be followed while adding the idea to Ideas-2019.md  ?

[2019-01-02 01:09] quozl commented on #1
Markdown format.  Like it is now?

[2019-01-02 01:11] iqraceme commented on #1
Yes, the markdown format that is at the moment in Ideas-2019.md

[2019-01-02 01:14] quozl commented on #1
Good.

[2019-01-06 12:39] walterbender commented on #3
(1) Performance. Music Blocks is being used in schools with relatively modest computers. We need to tighten up the code and better optimize performance. A general audit of resources is a good first step. Also, a better testing environment that analyzes the impact of any changes on performance is needed.

(2) Users (especially teachers) get confused by the relationship between the tools used to gen

[2019-01-07 05:20] pro-panda commented on #3
Thanks, please add them to [Ideas-2019.md](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2019.md).
Useful for referencing: bce9a15

[2019-01-11 04:12] pro-panda commented on #1
@quozl, I'm thinking to take up

but I'm failing to write a description and a list of `suggested issues to work on`. Any suggestions

[2019-01-11 05:35] quozl commented on #1
Thanks.  How about this;

On Linux, Sugar is an instance of a class _desktop session manager_, implemented as a full-screen GTK+ application with a subprocess running the Metacity _window manager_, and a datastore accessed through D-Bus.  Sugar does not work properly if run as an _application_ inside another desktop session manager, because the assumptions inherent in being a session manager confl

[2019-01-11 06:33] quozl opened #5 "Missing ideas for Scratch inside Sugar"
Scratch-3.0 is based on JavaScript.  Online editor works okay with Browse activity on Sugar.  An offline editor is not yet available for Linux.  There may be an opportunity to collaborate with the Scratch project to make that editor available as a Sugar activity.

@samswag, what's your opinion?

[2019-01-11 08:40] samswag commented on #5
Agreed. But the only problem with Scratch 3.0 with Browse is the recording of voice and sounds which is very important. Yes, I have made contact with the Scratch team, basically played around it for months now with testing.

We had a [GCI task](https://github.com/EmilyOng/Scratch.activity/tree/caf9fa0465cbe96eaa5574d03d78ec3abc49945e) in 2017 to make Scratch 3.0 available for [Sugarizer](https://g

[2019-01-11 22:58] quozl commented on #5
Scratch 3.0 in Browse.  Works.  We can exclude that from GSoC ideas.  Sound playback is fine, but sound recording shows a permissions issue only.  Browse doesn't use `sugar-activity-web`, so it's not part of the [permission problem](https://github.com/sugarlabs/browse-activity/issues/85) in Browse.

Scratch 3.0 in Sugarizer.  Works.  We can exclude that from GSoC ideas.  It is an older Scratch 3.0

[2019-01-12 09:34] llaske commented on #5
The Scratch 3.0 version in Sugarizer is a beta 3.0 version. It's why some features are not include in it (for example localization). The next Sugarizer release - expected this month - will upgrade the Scratch version but it will not be the "official" 3.0 version.
BTW The Scratch version in Sugarizer integrate two specific features: load/save into the Journal and offline mode (integrate backgrounds

[2019-01-12 12:45] samswag commented on #5
Well to bring it to Sugar Desktop, not Sugarizer is enough work to Gsoc given that how we classify projects. But again, it is not my duty to say which can be a GSoC project. All I know is that we need a stable version of Scratch running on Sugar. The question is how?

[2019-01-12 14:30] himanshuc3 commented on #3
Can I add an idea regarding improving and enhancing sugarlabs website? I would be willing to work on that and include the existing issues in the proposal as well.

All Suggestions are welcomed.

[2019-01-12 15:35] walterbender commented on #3
We're not making changes to the website without some A/B testing. If you
want to write up a project that includes (emphasizes) the testing process
that would be great.

-walter

On Sat, Jan 12, 2019 at 9:30 AM Himanshu <notifications@github.com> wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2019-01-12 15:58] pro-panda commented on #3
@himanshuc3 thanks for the suggestion,

please see [Criteria for new ideas](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2019.md#criteria-for-new-ideas), particularly
`Does it not involve any project infrastructure, e.g. not another app store, web site, or developer landing page`

[2019-01-12 16:18] himanshuc3 commented on #3
@walterbender Then I would be sending a complete proposal (including timeline) on "Enhancing the sugarlabs website using A/B testing (using Google Analytics)".

[2019-01-13 10:33] perriefidelis commented on #3
The process is on going already for the A/B testing, another version of the site is currently in the development stage and will soon the done. after that Tony and members of the marketing team will review the contents already there and add what else needs to be added before the analysis take place. A lot of work has been done and I don't think there is any much work for it to be added as a GSoC pr

[2019-01-14 01:40] quozl commented on #3
@himanshuc3, my opinion is no.  Let's not undermine the team that has been working on the web site.  We're waiting to see what they come up with.  Join the team if you want to help with the A/B testing design; @aperezbios is the best person to talk to, but include the whole team.  If you've got time enough to make such a proposal, you've got time enough to work with the team right now.

[2019-01-14 01:44] quozl commented on #5
@llaske, thanks, good to know.  I agree, upgrading already working Scratch in Sugarizer is not a large enough task for a GSoC project.

@samswag, for Sugar desktop, as I said above, we already have Scratch working in Browse.  A GSoC project could work on Scratch as a native JavaScript activity in Sugar.  `sugar-web` is used by all native JavaScript activities in Sugar, and is already used by Scrat

[2019-01-17 07:55] yagyanshbhatia opened #7 "Missing channel name in README.md for sugarlab's IRC"
The link in the readme is just https://webchat.freenode.net/ , it'd be better if you can tell the channel name too, I did try joining `#SugarLabs` but it seems like its the wrong room as I don't see any conversations there
I'm interested in contributing here for the porting to py3 project, I've already setup the development environment (packaged) and wrote my first activity too.
If there's another

[2019-01-17 14:36] pro-panda commented on #7
Thanks for pointing out @yagyanshbhatia.

You can join `#sugar` for the discussions

[2019-01-17 14:45] pro-panda commented on #1
Thanks,
I realised I can't add this yet.

Do we have a developer now who would be willing and able to do it if a student was not available, and who can promise to do it if a student is not selected ?

Also, I'm not sure of how to implement this, so I won't be the best person to mentor. I can co-mentor if someone is willing to take this up

[2019-01-18 07:03] #7 closed

[2019-01-18 07:04] quozl commented on #1
Agreed.  Ideas are not the problem.  People are the problem.  :grin:

[2019-01-18 10:16] jaskirat2000 commented on #3
@walterbender we had build up a sugar social project aside with gsoc by one pf the student. So it has got lot more things to enhance and build up.
Should we add that project ?

[2019-01-18 12:06] pro-panda commented on #3
My opinion is no. It does not add any value to our products, Sugar Desktop, Music Blocks or Sugarizer.

[2019-01-18 12:09] jaskirat2000 commented on #3
Well its only about outreaching and having our own platform to showcase
things.

On Fri, 18 Jan 2019, 5:36 pm Rahul Bothra, <notifications@github.com> wrote:

[2019-01-18 14:00] walterbender commented on #3
We have been down this road many times. Without evidence that it will be used, I am not in favor of infrastructure projects.

[2019-01-18 14:03] jaskirat2000 commented on #3
Okay we can drop this.

On Fri, 18 Jan 2019, 7:30 pm Walter Bender, <notifications@github.com>
wrote:

[2019-01-18 23:58] quozl commented on #3
My opinion is similar.  We've tried a Sugar Social project twice now, but each time it did not succeed; it was developed in isolation, it didn't get the features that we already have, it didn't get enough buy-in from everyone, and in the latest case it didn't get deployed.  Also, it does not seem to be three months worth of coding, but three months of community management activity; individual cont

[2019-01-19 22:40] walterbender opened #11 "Organization Application 2019"
**Why does your org want to participate in Google Summer of Code?**

GSoC is a great opportunity to both broaden the reach of our community, but also a place to take risks on new ideas that could lead to new directions for the program. For example, for the past three years we mentored a project on programming and music that has turned into a major initiative (The Government of Japan is putting Mus

[2019-01-20 18:03] vaibhavdaren opened #12 "Pronunciation Checker Activity"
Pronunciation Checker

The activity’s main motive is to help a student to learn correct pronunciation. The main idea is to develop an activity which will convert voice into text and match the text with the correctly spelled phonetics which will be available as per word. This text will be as per phonetics rules. The text will then be matched with the correct phonetics already present for the word t

[2019-01-21 00:46] quozl opened #13 "Jupyter Notebook activity for Sugar"
Fill out an idea; adding an activity to Sugar to provide Jupyter Notebook functionality.

Has been [tested on Ubuntu 16.04.4 in March](http://lists.sugarlabs.org/archive/sugar-devel/2018-March/055189.html).

As a [replacement for Web Confusion](http://lists.sugarlabs.org/archive/sugar-devel/2019-January/056168.html).

A mix of design and user requirements; a Python activity to start the notebook p

[2019-01-21 19:20] pro-panda opened #14 "Point to Gitter?"
I've reverted the mode of communication back to IRC from Gitter in 899cf71, to ensure consistency.

Should be closed along with https://github.com/sugarlabs/www-sugarlabs/pull/290

[2019-01-21 19:35] pro-panda opened #15 "Create an activity / set of activities"
**Description:**
Sugar has a lot of activities, 300+ available on GitHub itself. There is a Fructose set of activities all of which add a unique value to the Sugar Desktop. Think of what new activities can be added in Sugar. You should create an activity / set of activities such that they add a new learning experience for the user, and are also a justification for the 3 months timeline for GSoC.

[2019-01-21 19:35] pro-panda commented on #15
Requires improvement of language, adding more relevant data regarding users population and demographics.

[2019-01-21 19:37] pro-panda commented on #15
Offtopic,
@quozl would you also like to mentor [Port to Python 3](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2019.md#port-sugar-and-core-activities-to-python-3) and [Improve 25 activities](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2019.md#improve-and-maintain-25-sugar-activities)

[2019-01-22 20:21] iqraceme opened #16 "Machine Learning Teaching activity"
**Idea:** The idea is to create a new sugar activity that would allow kids a chance to learn basic machine learning concepts from the activity. Machine Learning is all about how we can train a computer to learn for itself or to train a computer to recognise images or to train a computer to recognise text.So the activity will be based on a game in which the kids train the computer to be able to sor

[2019-01-23 03:43] pro-panda commented on #12
Thanks, here are my comments;
 - [ ] Do we have language experts for mentoring this?
 - [ ] This looks too less coding for 3 months in terms of building an activity,
 - [ ] I couldn't find tools for scoring based on pronunciation, but I haven't checked thoroughly; do you propose that the student should make his own tool?

[2019-01-23 04:58] quozl commented on #16
Something I saw connected.  The AI or ML algorithm should meet our definition of free software we share with our parent organisation, the Software Freedom Conservancy.  See [How to Disappear Completely](https://www.youtube.com/watch?v=LOulCAz4S0M) from linux.conf.au just now, which points out, by about eight minutes in, that several of the ML algorithms for image recognition are proprietary.  The

[2019-01-23 06:47] iqraceme commented on #16
Tensor Flow is one of the major examples of open source framework for ML. We can use it for image recognition via their Python API.

https://github.com/tensorflow/tensorflow
https://www.tensorflow.org/

https://towardsdatascience.com/tensorflow-image-recognition-python-api-e35f7d412a70

[2019-01-23 06:56] quozl commented on #16
Thanks.

[2019-01-23 07:03] #15 closed

[2019-01-24 03:37] pro-panda commented on #3
Fixed in d8544fe5

[2019-01-24 03:37] #3 closed

[2019-01-24 17:22] AkshJain99 opened #19 "spelling error in gsoc documentation"
[code]

[2019-01-24 17:46] pro-panda commented on #19
Fixed in b7367fe

[2019-01-24 17:46] #19 closed

[2019-01-24 19:11] quozl commented on #19
@AkshJain99, thanks for the fix, but please don't create an issue for something trivial you intend to change.  Just make the pull request.  Thanks.

[2019-01-24 19:54] AkshJain99 commented on #19
Okay actually just getting familiar with sugar labs work flow :)

On Fri, 25 Jan 2019, 12:41 am James Cameron <notifications@github.com wrote:

[2019-01-24 23:56] quozl commented on #19
No worries.  Read about [Work flow](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#workflow);

[2019-01-25 04:35] divyanshu132 commented on #11
@walterbender I want to contribute to Sugar Labs as GSOC aspirant, can you please let me know where to get started??

[2019-01-25 04:37] quozl commented on #11
Isn't the ideas list enough to get started?  What's wrong with it?

[2019-01-26 12:18] vaibhavdaren commented on #12
Yes, the student will need to make his own system to get scoring. My idea was to make a match with each alphabet. eg. about phonetics is əbawt. If the speech to text converted for 4 alphabets matches same as out of 5, we can score him 80% correct and highlight the wrongly pronounced alphabet. Suppose the spoken phonetics result is abawt then he will get 80% score.
I myself was working on ML for th

[2019-01-27 17:50] pro-panda commented on #12
Thanks,
 - This idea assumes that the student has a microphone facility
 - What will be the tentative size of the trained model that will be embedded in the activity?
 - Are there an open source datasets for this purpose?
 - Do the end users of Sugar Desktop have such a need?
 - This idea assumes that the student speaks in English (if not, then this idea will require more effort than a GSoC Projec

[2019-01-27 20:03] quozl commented on #12
I'm struggling to understand how I could teach this subject to the primary school children in our target demographic, but I thought that was just my ignorance in the subject.  Can I see a lesson plan?

We have previously valued all languages, through our human translation team, and by using iconography instead of text for user interfaces.  At OLPC, most of our devices went to countries that speak

[2019-01-27 22:40] vaibhavdaren commented on #12
* Being trained model expecting to be of size 400-500 MB.

* No, I didn't find any such open source dataset.

* The use of this activity will be for users of all age of students as they will learn how to pronounce properly. There can be different words for different age groups.
* In various Asian developing countries, children are taught how to speak as per correct phonemes. In our own college and

[2019-01-27 23:36] quozl commented on #12
That sounds like a style of mechanised memorisation learning which is somewhat foreign to Sugar Labs.  @walterbender, can you suggest how to modify this lesson plan to better fit with constructivist teaching methods?

[2019-01-31 00:40] walterbender commented on #12
I would like to see some activity associated with this Activity that involves some creativity by the students and perhaps some sort of collaboration or interaction between students (taking advantage of Sugar's strengths) and leveraging our pedagogical approach. Maybe combine it with a chat activity where the chat is enabled by proper pronunciation (and perhaps something fun happens in the case tha

[2019-01-31 00:41] walterbender commented on #13
Tony has expressed an interest in this too and perhaps could provide a group of students for testing.

[2019-01-31 12:16] walterbender commented on #13
I think that the Jupyter notebook idea could be fleshed out if it extended to programming examples (and documentation) on how to use the notebook for some interesting projects (especially ones that involve capturing and analyzing data from other activities.)

[2019-01-31 18:32] jaskirat2000 commented on #14
"bridge-bot" can be a good idea for this which will kepp posted people everywhere by sending messages from anywhere with a particular channel tag and those can be viewed on any channel which consist of that bot.

[2019-02-01 05:07] quozl commented on #14
@jaskirat2000, your post will have been missed by most people in Sugar Labs, so please use the best forum for discussion, the sugar-devel@ mailing list.  See https://github.com/sugarlabs/sugar-docs/blob/master/src/CODE_OF_CONDUCT.md#be-flexible

[2019-02-01 05:09] jaskirat2000 commented on #14
Okay, thanks

[2019-02-03 21:15] pro-panda commented on #13
Fixed in 5d22851a

[2019-02-03 21:15] #13 closed

[2019-02-03 21:15] pro-panda commented on #12
Fixed in 5d22851a

[2019-02-03 21:15] #12 closed

[2019-02-03 21:16] pro-panda commented on #16
Fixed in 5d22851a

[2019-02-03 21:16] #16 closed

[2019-02-03 21:16] pro-panda commented on #5
Fixed in 5d22851a

[2019-02-03 21:16] #5 closed

[2019-02-08 07:42] #14 closed

[2019-02-16 09:40] pro-panda commented on #11
Application submitted

[2019-02-16 09:40] #11 closed

[2019-02-17 22:47] quozl commented on #1
I've briefly looked at the Wiki page again; it is mostly out of date.  Staying alive as an open source project that is distributed to users is the first priority.

[2019-02-17 22:47] #1 closed

[2019-03-01 17:31] NikhilM98 opened #47 "Suggestions for Sugarizer Exerciser activity"
I was going through Sugarizer Exerciser code. I have some ideas that can be extended to **Expand Sugarizer Exerciser activity**  idea.

### Improve text translation
Currently text is translated using key value pairs which are hard coded in the project. It limits overall translation capability of the project. New questions created using the activity cannot be translated. I think that language trans

[2019-03-06 01:51] quozl commented on #13
Jupyter Lab is also very interesting.  John Leeman (also of [Don't Panic Geocast](http://www.dontpanicgeocast.com/)), did a [summary video](https://www.youtube.com/watch?v=xuow8n9xqO0).

[2019-03-07 15:18] llaske commented on #47
Thanks for your proposal.

Regarding **translation** it's not hard coded today. Strings are defined in JSON and translated using a Weblate platform [here](http://translate.sugarizer.org/projects/sugarizer/activity-exerciser/).

Regarding **text to speech**, adding images support is precisely to handle kids not comfortable with reading. Most/allTtext to speech API are not libre/open source and ofte

[2019-03-07 15:45] NikhilM98 commented on #47
@llaske Thanks for reviewing my suggestion.

I was not saying that there is an issue with the translation of the Exerciser App (The language of the app can be switched smoothly). I mean that the strings for questions and answers is hardcoded. You can see it [here](https://github.com/llaske/ExerciserReact/blob/5a91ddadb2917d429066bb47713dfcc83ebfe66e/src/translations/en.json#L44-L55).

The weblate

[2019-03-09 08:06] pro-panda opened #52 "Define priority for projects"
See https://github.com/sugarlabs/GSoC/pull/44#issuecomment-469476971

Possible solutions are to remove the priority tag entirely or to review all projects collectively and decide the priorities again.

[2019-03-10 18:28] quozl commented on #52
I consent to removing priority.

[2019-03-10 20:11] llaske commented on #52
I'm okay to remove priority. I've just added it because it was there in the template.
FYI I've tagged "High priority" projects where there is an explicit request on the field (Dashboard, Exerciser) and "Medium priority" project nice to have but not direct request (Write).

[2019-03-10 20:14] llaske commented on #47
Ok, you're right. BTW this feature is not expected today. More: it's not always possible to translate an exercise. The sample you've mentioned is a good example: questions in English and in French are not the same.

[2019-03-10 20:16] walterbender commented on #52
Fine with me.

[2019-03-11 11:00] #52 closed

[2019-03-12 02:08] pro-panda commented on #2
Potential idea for Season of Docs.

[2019-03-12 15:52] #47 closed

[2019-03-18 17:12] NikhilM98 opened #57 "Add subsection for previous work on related projects in proposal template"
I was working on creating a proposal following the proposal [template](https://github.com/sugarlabs/GSoC/blob/master/Template.md).

It's mentioned that:

It would be nice to add a similar sub-section to give a brief overview of related projects which are not open source.

[2019-03-18 17:49] quozl commented on #57
One of the open source licensing tenets is that looking at source code that is _closed source_, then writing _open source_ code with the closed source in your mind, is legally similar to creating a _derivative work_.  There are clean-room procedures to help avoid that; one team reads the closed source, writes a specification, and another team writes code to comply.  So I for one don't like to look

[2019-03-19 14:53] NikhilM98 commented on #57
@quozl
Okay, thanks for the feedback. Should I close this issue?

[2019-03-19 23:22] quozl commented on #57
Thanks for your thanks.  I decided not to close immediately because although I gave my opinion, I'm not confident we have consensus.  Nothing has changed since except your thanks.  I see no reason to hurry to close.

[2019-03-20 14:44] Aniket21mathur opened #58 "Remove closed issues from the list"
In maintaining 25 activities project

- read-activity: #28 add back EPUB support

- log-activity: #12 Delete Log File button leaves entry in list

issues are closed but still present in the list. Should be removed.

[2019-03-21 01:54] #58 closed

[2019-03-25 04:45] pro-panda commented on #57
+1

[2019-03-26 03:08] #57 closed

[2019-03-28 01:20] quozl opened #60 "Draft proposals"
We get proposals as Google Docs links;

* Google Docs is not open source, so this requires everyone to use proprietary software,
* Google Docs can change after the mail is sent, so comments in a thread can age,
* Google Docs can disappear; we've lost the record of proposals from previous years because we haven't kept a copy, and a student has cleaned up their Google Docs or closed their account,
*

[2019-03-30 06:14] sum2it commented on #60
Most organisations have a wiki for proposals. Helps in keeping a copy and easily browsing proposals.

[2019-04-01 16:40] pro-panda commented on #60
We should ask the students to mail the proposal as a PDF on Sugar-Devel.

[2019-04-01 17:42] vaibhavdaren commented on #60
@pro-panda   it is hard to keep track of proposals and students via mailing list .
any other solution ?

[2019-04-01 17:51] pro-panda commented on #60
Sorry, no. I don't have any other solution.

FWIW, I review all the proposals we receive, focusing more on the ones that I am mentoring. The mailing list is convenient enough for me

[2019-04-03 23:44] chimosky opened #63 "Create New Activity Proposals"
I've looked at the proposals for [create a new set of activities](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2019.md#create-a-new-set-of-activities) and none has addressed any of the activities proposed in the idea, although the project idea encourages new ideas but I think that we should clearly state the importance of the ones suggested as they're very important.
Scratch for one is very

[2019-04-04 06:09] iqraceme commented on #63
The idea of porting scratch to sugar desktop has also been mentioned in "Port Sugarizer activities to Sugar" project idea.

[2019-04-04 09:34] pro-panda commented on #63
Discussion continuing on thread http://lists.sugarlabs.org/archive/sugar-devel/2019-April/056632.html.
Closing to avoid two strands of communication.

[2019-04-04 09:34] #63 closed

[2019-04-09 00:07] quozl commented on #60
I've encountered a proposal with the _export_ feature turned off by the author.  An interesting trick.

[2019-04-09 10:56] Mohitphulera opened #66 "Traffic Sign Teaching Activity"
Traffic signs or road signs are signs erected at the side of or above roads to give instructions or provide information to road users. The earliest signs were simple wooden or stone milestones.

The activity’s main motive is to help a student to learn Traffic Signs or Road Signs. The main idea is to develop an activity which will aware every student of each & every road safety rules.Road safety ed

[2019-04-09 21:55] quozl commented on #66
Thanks for the idea.  We may use it for next year.  Proposals for this year have closed.

[2019-08-22 17:27] Aniket21mathur opened #67 "GSoC final submission: Port to Python 3"
@quozl @pro-panda please review the changes, I made in my personal branch.

https://github.com/Aniket21mathur/GSoC/blob/portToPython3/Ideas-2019.md#port-sugar-and-core-activities-to-python-3

[2019-08-25 06:01] #67 closed

[2019-11-04 15:29] Abhay-dot opened #71 "Google Code-In inquiry"
Hey, my name is Abhay and I'm 13 years old and I'm currently living In Singapore. I'm really exited to join your organisation and contribute to the Google Code-In.

[2019-11-08 04:38] quozl commented on #71
Thanks for asking.  Off-topic for GSoC, and was answered in [a mailing list thread](http://lists.sugarlabs.org/archive/sugar-devel/2019-November/057288.html), so closing.

[2019-11-08 04:38] #71 closed

[2019-11-09 11:56] kohli6010 commented on #66
is this going to be the feature for next year GSoC or can anybody work on this idea

[2019-11-10 19:48] quozl commented on #66
Well, I don't know.  Main reason it was not in this year's GSoC was that we had closed the window for proposals by the time this one arrived.  There's other barriers to the idea that may be raised; such as it being rote memorisation rather than constructivist approach to learning, that the activity may give wrong advice for the locality in which it is used, and that it could never be kept up to da

[2020-01-22 17:27] Aniket21mathur opened #72 "Shortcut in readme points to GSoC 19 md file"

[2020-01-22 22:28] quozl commented on #72
33c2698

[2020-01-22 22:28] #72 closed

[2020-02-04 00:53] quozl commented on #66
No support from others for this idea, so I'll close the issue until that support arrives.

[2020-02-04 00:53] #66 closed

[2020-02-04 03:08] #60 closed

[2021-02-05 16:57] srevinsaju opened #112 "Suggestion for GSoC 2021: Redesign Human Interface Guidelines and the Sugar UI"
It would be nice to have colorful icons for sugar. This is one of the ideas which were not accepted last year into GSoC, for context: https://github.com/sugarlabs/GSoC/blob/master/Ideas-2020.md#colored-desktop-and-activity-icons

[2021-02-05 17:00] srevinsaju opened #113 "Suggestion for GSoC 2021: Port ASLOv1 to PHP 7 or 8"
It would be nice to have this migrated to a newer PHP version, which would help us upgrade some infrastructure.

Please feel free to close this issue / edit this issue if it seems inappropriate for GSoC

[2021-02-05 20:24] quozl commented on #112
I agree.  KiCad recently went through an icon recolouring for version 6, and overall it looks better.

[2021-02-05 20:25] quozl commented on #113
I agree, it would be nice.

[2021-02-06 01:20] chimosky commented on #113
I agree too.

[2021-02-06 01:21] chimosky commented on #112
I agree and it would be easier if you created a PR for the idea.

[2021-02-06 05:08] srevinsaju commented on #112
Cool, I wanted to know y'all opinions (to see if the idea is redundant) before creating the PR. I will create the PR in a while :smile:

[2021-02-08 19:19] walterbender opened #118 "GTK4???"
I wonder if there is something concrete (e.g., coding) that could be done this summer re GTK4? At the Gnome advisory board meeting today, they mentioned a 3-year GTK3 end of life. (That is mitigated on the GTK5 release, which is unlikely to be finished in just 3 year, but nonetheless, we should start thinking about this.)

[2021-02-08 19:21] walterbender commented on #118
Maybe try migrating some small part of the toolkit to GTK4 as a proof of concept?

[2021-02-09 02:05] quozl commented on #118
Yes, this could be a project.  May I suggest iteration deliverables;

* migrate minimal toolkit components to support Hello World activity, in particular the activity and graphics classes,
* migrate Hello World,
* document migration strategy based on extending any existing upstream GTK 3 to GTK 4 porting documentation,
* migrate remaining toolkit components,
* extend Hello World to use remaining t

[2021-02-09 07:12] JuiP commented on #118
[2018-Ideas](https://wiki.sugarlabs.org/index.php?title=Summer_of_Code/2018&mobileaction=toggle_view_desktop) mentions a project idea: `GTK-4 exploration` was there a student interested in 2018? Was there any progress on this project idea by anyone?

@quozl what you suggest seems good.

[2021-02-09 07:52] quozl commented on #118
I don't know, I wasn't involved much in 2018.  I can't imagine anyone would have got far, given that GTK 4 wasn't released then.

[2021-02-09 08:47] srevinsaju commented on #118
Agreed, I am not sure of the benefits GTK4 would bring to Sugar, provided GTK2 is still used widely, I don't see any other reason for the port.

Porting Sugar to GTK4 without a use case doesn't seem useful. The GNOME 40 release has featured a lot of extensive animations and transitions. If a student is willing to implement both animations and transitions, new layouting, etc., I would agree with th

[2021-02-09 10:19] chimosky commented on #118
@quozl said;

I agree.

@srevinsaju said;

I don't know when GTK2 will get to it's EOF but that might or might not be anytime soon and considering that GTK4 was just released, it might not be beneficial at the moment but it'll be in the long run and starting now might be good.

With the new GSoC changes we might have to break down this particular task to some other tasks so various students can wo

[2021-02-09 12:52] walterbender commented on #118
It took (is taking) a long time to migrate to GTK3, so I think it prudent to get started on GTK4 as soon as possible. GTK2 is deprecated as far as GNOME is concerned, so we really cannot rely on it, even if there are still many people using it. And at some point, the support burden will become more than we can manage as a community. (I would argue we have already reached that point.)

I think Jame

[2021-02-09 13:26] chimosky commented on #118
@walterbender said;

I agree and my reference to the design task was #114.

[2021-02-09 15:48] srevinsaju commented on #118
Agreed.

Yes, that would be the best.

[2021-02-10 01:22] quozl commented on #118
Thanks for the technical assessments and links to changes.  I'd also like to see us use Qt, as it has proven more stable over the last ten years.  When we started with GTK, it was the Gimp Toolkit.  Now it seems to have been acquired mostly by the GNOME project, and that project has taken over maintenance to the point that they have no concern for the migration and porting effort that they induce

[2021-02-10 10:37] srevinsaju commented on #118
Agreed. I remember asking this question exactly a year ago, when I came across [Mnemosyne](https://github.com/mnemosyne-proj/mnemosyne). I prefer `Qt` over `GTK*`. I hope this would also help us get remove `metacity` and use a better window manager like [`kwin`](https://en.wikipedia.org/wiki/KWin).

Some benefits of using `Qt`:
* The availability of [Qt Designer](https://doc.qt.io/qt-5/qtdesigner-

[2021-02-10 21:48] quozl commented on #118
@srevinsaju, as you've had recent experience in both, would you like to describe a Qt toolkit project?  If you like, you could even get it started, and leave the boring bits to a GSoC student.  ;-)

[2021-02-10 22:32] walterbender commented on #118
FWIW, a bit of history: We had a project sponsored by Nokia circa 2009 to port Sugar to QT. It stalled out due to some contract issues with our then parent org. Water over the dam, but it might have been quite interesting had it seen the light of day.

[2021-02-10 23:31] quozl commented on #118
Interesting, I've not heard anything about that.  Then again why would anyone tell me?  :grin:

@srevinsaju, my hope is that porting to Qt will help us compensate long term for failure to maintain the port to JavaScript, which has been so bad as to prevent practical re-use of later JavaScript activities like in Sugarizer or Music Blocks.  Plenty of Qt programmers out there, and it is often used in

[2021-02-11 00:23] chimosky commented on #118
Haven't used Qt before but I've read a bit about it and it does seems interesting.

[2021-02-11 10:59] srevinsaju commented on #118
Yea, agreed. A Sugar Qt Toolkit would be amazing, along with a Qt based Sugar Shell. I will try to give it a shot. Perhaps, I will draft out a GSoC proposal for the same. :smile:

I would say, porting Sugar to Qt, and creating a Sugar Qt toolkit will still not hinder running Sugar GTK Activities, but I am not sure if the reverse would be possible.

Agreed. this would be indeed memory efficient and

[2021-02-11 11:00] srevinsaju commented on #118
+ we would also support wayland. :rocket:

[2021-02-11 23:28] quozl commented on #118
Yes.  I think porting Sugar to Qt is less important than making a Sugar Toolkit for Qt, but still a good long term strategy.

[2021-02-12 07:18] JuiP commented on #118
+1

[2021-02-18 16:23] JuiP commented on #118
The deadline for applying as a mentoring organization in GSoC is Friday, Feb 19th at 1900 UTC. Is there something concrete we can add as a project idea?

[2021-02-18 18:06] #113 closed

[2021-02-18 22:36] quozl commented on #118
We can add ideas after the application is made.  It is however better to have good ideas at the time Google are reviewing the application.  Sorry, I don't have time to write the idea.

[2021-02-19 07:38] #112 closed

[2021-03-11 09:22] starrohan999 commented on #118
Hi everyone, I am interested in the sugar lab oraganization. looking forward to contribute.
can anyone help how to get start

[2021-03-11 09:33] JuiP commented on #118
Hi @starrohan999 please join our mailing list: https://lists.sugarlabs.org/listinfo/sugar-devel and interact with the sugarlabs community. This issue thread is meant for discussion of project ideas related to GTK4.

Also, you may check out https://github.com/sugarlabs/sugar-docs to get started. Hope that helps :)

[2022-01-14 02:45] ahmadateya opened #139 "GSoC 2022"
Will you join the GSoC this year? What about the Ideas list? Is the last year not accepted ideas will be migrated to this year?

[2022-01-14 02:57] quozl commented on #139
I have not heard yet.  It will be a decision for the board.

However, that doesn't stop work on the ideas list.  Sometimes not accepted ideas are used, sometimes accepted ideas are used, and sometimes new ideas are made.

[2022-01-24 09:07] rodrickcalvin commented on #139
Is anyone working on this? "[Music Blocks Project Blocks Reorganization](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2021.md#music-blocks-project-blocks-reorganization)"? I can take it up

[2022-01-24 22:40] chimosky commented on #139
@rodrickcalvin the project you've pointed out was part of last years' ideas and it was an accepted project so it was probably worked on, if you'd like more info you can send an email to the [sugar-devel](https://lists.sugarlabs.org/listinfo/sugar-devel) list asking about the possible ideas for Music Blocks this year.

[2022-02-16 20:17] llaske commented on #139
There is now a dedicated page [here](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2022.md).

[2022-02-16 20:17] #139 closed

[2022-03-08 12:03] jigyasunigam opened #150 "New project idea"
Hey! I have a project idea from a long time ago in my mind. And I think this is right place to bring my idea into a reality.
I want to discuss it with someone associated mentor with sugarlabs.

[2022-03-08 15:49] llaske commented on #150
@jigyasunigam I think it's better to suggest your idea as an issue in the matching repo (Sugar, MusicBlocks or Sugarizer) so maintainers could study it.

[2022-03-09 05:00] jigyasunigam commented on #150
Ok thank you.

[2022-03-09 05:00] #150 closed

[2022-03-30 12:11] NumanAnees opened #151 "Unable to join Mailing list/forum from Gsoc page."
# Problem
I want to join your Mailing list/forum but the link is not working.

![image](https://user-images.githubusercontent.com/67089723/160831528-c5917a5b-c5cd-48e6-a2c2-93d0b208dea1.png)

[2022-04-01 18:17] chimosky commented on #151
Closing as this should've been solved.

[2022-04-01 18:17] #151 closed

[2022-04-10 11:29] nikkuAg opened #152 "How to contact to Mentor of Sugarizer Exerciser Evaluation mode"
I am not able to contact to Ashish Aggarwal mentor of Sugarizer Exerciser Evaluation mode

[2022-04-12 19:47] llaske commented on #152
You've got an answer on the mailing list.

[2022-04-12 19:47] #152 closed

[2022-10-07 20:09] Gairick52 commented on #118
@quozl i am new to open source can you suggest me some beginner friendly issues

[2022-10-07 20:25] quozl commented on #118
@sourabhaa may have some suggestions.

[2022-10-08 07:29] Gairick52 commented on #118
@sourabhaa hello sir i have not mentioned above i am new in open source world i just started day yesterday to explore.What would you recommend to me?Please suggest me some steps so that i remain consistent ,should i try to fix issues

[2022-10-08 08:25] sourabhaa commented on #118
Hi @Gairick52, welcome to Sugar Labs! In general, open source contribution is about being a part of open source organisations by contributing code, raising and fixing issues or even suggesting your ideas. To get started with sugar Labs, you could checkout [sugar-docs](https://github.com/sugarlabs/sugar-docs). To interact with the community, please join [Sugar Labs Matrix Channel](https://matrix.to

[2022-10-08 08:44] llaske commented on #118
Waow :scream:  migrating Sugar to Qt basically means rewriting Sugar and activities from scratch.
It's what I've done with Sugarizer - which is more or less a rewriting of Sugar in JavaScript - and it was a 5 years project to have a basic set of features/activities!
Are you sure the Sugar community could support a such long effort?

[2022-10-08 09:36] Gairick52 commented on #118
thank you very much for your guidance

On Sat, Oct 8, 2022 at 1:55 PM Sourabha G ***@***.***> wrote:

--
Disclaimer
This email is governed by the Disclaimer Terms of  somaiya.edu
<http://somaiya.edu> which may be viewed at 
https://www.somaiya.edu/en/email-disclaimer
<https://www.somaiya.edu/en/email-disclaimer>

Finally, please do not
print this email unless it is necessary. Every unprinted email

[2022-10-08 19:35] quozl commented on #118
Heh, we haven't even managed to port Sugar to JavaScript.  Nothing works.  We keep getting Python contributions.  So no, I don't think our community could support even this effort.

[2022-10-08 19:42] llaske commented on #118
Sugarizer is build on Sugar-Web, the first brick of Sugar in JavaScript (credits [here](https://github.com/llaske/sugarizer/blob/dev/docs/credits.md)), so in a sense it's a success...

[2022-10-08 19:52] quozl commented on #118
I know.  But Sugar-Web hasn't been maintained in Sugar, and hasn't worked for some years, so there are no working JavaScript activities in Sugar.